<li>
  <%= link_to edit_project_path(project) do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
</li>
<li>
  <%= link_to project_team_members_path(project) do %>
    <span class="glyphicon glyphicon-user"></span>
  <% end %>
</li>
<li>
  <% if policy(project).destroy?  %>
    <%= link_to project_path(project), method: :delete do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
  <% end %>
</li>
