<div class="row">
  <div class="col-md-12">
    <h1>My Projects</h1>

    <% @projects.each do |project| %>
      <p><%= project.title %></p>
    <% end %>

    <p><%= button_to 'Create new project', new_project_path, :method => :get, :class => 'btn btn-primary' %></p>
  </div>
</div>
