<div class="row">
  <div class="col-md-12">
    <ul class="projects-list">
      <%= render @projects %>
      <li>
        <%= link_to new_project_path do %>
          <span class="glyphicon glyphicon-plus-sign"></span>New Project
        <% end %>
      </li>
    </ul>
  </div>
</div>
