<div class="row">
  <div class="col-md-12">
    <h1>Create a Project</h1>
    <p>On this page you can create a new project and invite current users to join the project's team.</p>
  </div>
</div>

<%= render partial: 'form', locals: { project: @project } %>
