<div class="row">
  <div class="col-md-12">
    <h1>Create a Project</h1>
    <p>On this page you can create a new project and invite current users to join the project's team.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= bootstrap_form_for @project do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :description %>
      <%= f.primary "Create project" %>
    <% end %>
  </div>
</div>
