<%= content_tag :h1, @project.title %>
<%= content_tag :p, @project.description %>

<%= link_to 'View Team Members', project_team_members_path %>


<h3>Invited Users</h3>
<% if @invited_users %>
  <ul>
    <%= render :partial => "invited_user", collection: @invited_users %>
  </ul>
<% else %>
  <p>No pending invitations.</p>
<% end %>

