<ul class="nav navbar-nav">
</ul>
<ul class="nav navbar-nav navbar-right">
  <li>
    <%= link_to new_user_registration_path do %>
      <span class="nav-icon glyphicon glyphicon-edit"></span><span class="sub-title">Sign up</span></a>
    <% end %>
  </li>
  <li>
    <%= link_to new_user_session_path do %>
      <span class="nav-icon glyphicon glyphicon-log-in"></span><span class="sub-title">Sign in</span></a>
    <% end %>
  </li>
</ul>
